.cor-painel-principal{
    background: rgba(0, 119, 255, 0.486);
    border: 1px solid;
    color: white;
}

.padding-container{
    padding-top: 15px;
    position: absolute;
}

body {
    background: #eeeeee;
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/background.png");
    background-repeat: repeat-y;
    min-width: 330px !important;
}

.actions{
    width: 20%;
    min-width: 100px;
}

.dataEntrega{
    width: 25%;
    min-width: 100px;
}

.textarea{
    resize: vertical;
    max-height: 150px;
}

.alertClass{
    width: 30%;
    font-size: 100%;
    height: 12%;
    position: fixed;
    margin: 20px;
    text-align: center;
}